@import url("../../index.css");
:root {
  --fc-border-color: #000000;
}
* {
  font-family: "Signika Negative", sans-serif;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
form > input {
  font-family: "Signika Negative", sans-serif;
  font-size: 21px;
  background-color: #ffffff;
  border: 1px solid #0e4d63;
  border-right: none;
  outline: none;
  height: 25px;
  width: 54.525%;
  padding: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

form > button {
  font-family: "Signika Negative", sans-serif;
  font-size: 21px;
  border: 1px solid #0e4d63;
  border-left: none;
  height: 43px;
  background-color: #0e4d63;
  /* #084b8f; */
  color: #ffffff;
  cursor: pointer;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 75px;
}
.card {
  padding: 30px;
  background-color: #ffffff;
  height: 600px;
  width: 60%;
  border-radius: 15px;
  display: flex;
  box-shadow: 1px 1px 8px 5px #0e3a7762;
}


hr {
  border: 1px solid #237ba1;
  width: 70%;
  margin-right: 130px;
}

.calendar_display {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.calendar_display > div > input {
  font-family: "Signika Negative", sans-serif;
  font-size: 21px;
  color: black;
  font-weight: 500;
  border: 1px solid #0e4d63;
  background: linear-gradient(to left, #0e4d63 16.9%, #ffffff 0%);
  border-radius: 5px;
  width: 96.2%;
  padding: 8px;
  outline: 0;
  position: relative;
  float: left;
  bottom: -35px;
}

.fc {
  width: 450px;
  height: 394px;
  font-size: 16px;
  & .fc-daygrid-day {
    width: 50px;
    &.fc-day-today {
      background-color: #0e4d63;
      color: white;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
}


.css-1gq65m0-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
}

.fc-toolbar-chunk:nth-child(3) {
  display: none !important;
}

.salary_group {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly ;
  text-align: center;
  font-size: 21px;
}

.total_salary:first-child {
  margin-right: -100px;
}

input[type=month]::-webkit-calendar-picker-indicator{
  filter: invert(100%);
  cursor: pointer;
  width: 39px;
}
table, th, td{
  border: 1px solid #0e4d63 !important;
}